---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% unless site.blog_index_asides.recent_posts == false %}
    {% include asides/github.html %}
  {% endunless %}
  {% unless site.blog_index_asides.recent_posts == false %}
    {% include asides/recent_posts.html %}
  {% endunless %}
  {% unless site.blog_index_asides.recent_posts == false %}
    {% include asides/pinboard.html %}
  {% endunless %}
  {% unless site.blog_index_asides.recent_posts == false %}
    {% include asides/googleplus.html %}
  {% endunless %}
  {% unless site.blog_index_asides.recent_posts == false %}
    {% include asides/delicious.html %}
  {% endunless %}
</aside>
{% endunless %}
